/*p{

	color : red;
	background-color: rgba(162,106,99,0.5);
	font-size: 4em;
	font-weight: bold;
	text-decoration: underline;
	letter-spacing: 10px;
	text-transform: capitalize;
	word-spacing: 20px;
	text-align: left;
	text-indent: 40px;
	text-shadow: 1px 1px 1px black;
}*/
img{
	vertical-align: middle;
	width: 500px;
}
.red{
	background-color: #F3DF58
}
.bold{
	background-color: #AE2727
}
.small{
	vertical-align: middle;
	width:300px;
}
body{
	background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/05/15/83/5959af942011957.jpg) ;
	background-size: cover;
	font-size: 20px;
	color: #188A25;
	font-family: Times,Georgia;

}
div{
	text-align: center;
}